<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>player_ball_110_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-3}</string>
				<key>spriteSize</key>
				<string>{130,136}</string>
				<key>spriteSourceSize</key>
				<string>{246,246}</string>
				<key>textureRect</key>
				<string>{{139,0},{130,136}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>player_ball_110_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,2.5}</string>
				<key>spriteSize</key>
				<string>{122,117}</string>
				<key>spriteSourceSize</key>
				<string>{246,246}</string>
				<key>textureRect</key>
				<string>{{0,145},{122,117}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>player_ball_110_extra_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,2.5}</string>
				<key>spriteSize</key>
				<string>{120,115}</string>
				<key>spriteSourceSize</key>
				<string>{246,246}</string>
				<key>textureRect</key>
				<string>{{123,145},{120,115}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>player_ball_110_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-3}</string>
				<key>spriteSize</key>
				<string>{138,144}</string>
				<key>spriteSourceSize</key>
				<string>{246,246}</string>
				<key>textureRect</key>
				<string>{{0,0},{138,144}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>icons/player_ball_110-uhd.png</string>
			<key>size</key>
			<string>{269,262}</string>
			<key>textureFileName</key>
			<string>icons/player_ball_110-uhd.png</string>
		</dict>
	</dict>
</plist>