<?xml version="1.0"?>
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>robot_39_01_001.png</key>
            <dict>
                <key>spriteOffset</key>
                <string>{-2,4}</string>
                <key>spriteSize</key>
                <string>{126,121}</string>
                <key>spriteSourceSize</key>
                <string>{159,165}</string>
                <key>textureRect</key>
                <string>{{139,2},{126,121}}</string>
                <key>textureRotated</key>
                <true />
            </dict>
            <key>robot_39_01_2_001.png</key>
            <dict>
                <key>spriteOffset</key>
                <string>{-2,7}</string>
                <key>spriteSize</key>
                <string>{119,106}</string>
                <key>spriteSourceSize</key>
                <string>{159,165}</string>
                <key>textureRect</key>
                <string>{{2,134},{119,106}}</string>
                <key>textureRotated</key>
                <false />
            </dict>
            <key>robot_39_01_extra_001.png</key>
            <dict>
                <key>spriteOffset</key>
                <string>{21,2}</string>
                <key>spriteSize</key>
                <string>{64,70}</string>
                <key>spriteSourceSize</key>
                <string>{159,165}</string>
                <key>textureRect</key>
                <string>{{125,179},{64,70}}</string>
                <key>textureRotated</key>
                <false />
            </dict>
            <key>robot_39_01_glow_001.png</key>
            <dict>
                <key>spriteOffset</key>
                <string>{-2.3,4}</string>
                <key>spriteSize</key>
                <string>{133,128}</string>
                <key>spriteSourceSize</key>
                <string>{159,165}</string>
                <key>textureRect</key>
                <string>{{2,2},{133,128}}</string>
                <key>textureRotated</key>
                <false />
            </dict>
            <key>robot_39_02_001.png</key>
            <dict>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{40,53}</string>
                <key>spriteSourceSize</key>
                <string>{40,54}</string>
                <key>textureRect</key>
                <string>{{197,134},{40,53}}</string>
                <key>textureRotated</key>
                <true />
            </dict>
            <key>robot_39_02_2_001.png</key>
            <dict>
                <key>spriteOffset</key>
                <string>{1,8}</string>
                <key>spriteSize</key>
                <string>{14,15}</string>
                <key>spriteSourceSize</key>
                <string>{16,30}</string>
                <key>textureRect</key>
                <string>{{101,244},{14,15}}</string>
                <key>textureRotated</key>
                <false />
            </dict>
            <key>robot_39_02_glow_001.png</key>
            <dict>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{48,61}</string>
                <key>spriteSourceSize</key>
                <string>{48,62}</string>
                <key>textureRect</key>
                <string>{{193,216},{48,61}}</string>
                <key>textureRotated</key>
                <true />
            </dict>
            <key>robot_39_03_001.png</key>
            <dict>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,50}</string>
                <key>spriteSourceSize</key>
                <string>{18,50}</string>
                <key>textureRect</key>
                <string>{{125,253},{18,50}}</string>
                <key>textureRotated</key>
                <true />
            </dict>
            <key>robot_39_03_2_001.png</key>
            <dict>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{6,6}</string>
                <key>spriteSourceSize</key>
                <string>{6,6}</string>
                <key>textureRect</key>
                <string>{{101,263},{6,6}}</string>
                <key>textureRotated</key>
                <false />
            </dict>
            <key>robot_39_03_glow_001.png</key>
            <dict>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,58}</string>
                <key>spriteSourceSize</key>
                <string>{26,58}</string>
                <key>textureRect</key>
                <string>{{39,244},{26,58}}</string>
                <key>textureRotated</key>
                <true />
            </dict>
            <key>robot_39_04_001.png</key>
            <dict>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{60,33}</string>
                <key>spriteSourceSize</key>
                <string>{66,34}</string>
                <key>textureRect</key>
                <string>{{193,179},{60,33}}</string>
                <key>textureRotated</key>
                <false />
            </dict>
            <key>robot_39_04_2_001.png</key>
            <dict>
                <key>spriteOffset</key>
                <string>{13,-5}</string>
                <key>spriteSize</key>
                <string>{33,20}</string>
                <key>spriteSourceSize</key>
                <string>{60,30}</string>
                <key>textureRect</key>
                <string>{{2,244},{33,20}}</string>
                <key>textureRotated</key>
                <false />
            </dict>
            <key>robot_39_04_glow_001.png</key>
            <dict>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{68,41}</string>
                <key>spriteSourceSize</key>
                <string>{74,42}</string>
                <key>textureRect</key>
                <string>{{125,134},{68,41}}</string>
                <key>textureRotated</key>
                <false />
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>icons/robot_39-uhd.png</string>
            <key>size</key>
            <string>{262, 273}</string>
            <key>textureFileName</key>
            <string>icons/robot_39-uhd.png</string>
        </dict>
    </dict>
</plist>
