<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>robot_48_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.5,2}</string>
			<key>spriteSize</key>
			<string>{57,56}</string>
			<key>spriteSourceSize</key>
			<string>{61,60}</string>
			<key>textureRect</key>
			<string>{{2,65},{57,56}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_48_01_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1.25,4.75}</string>
			<key>spriteSize</key>
			<string>{52,46}</string>
			<key>spriteSourceSize</key>
			<string>{61,60}</string>
			<key>textureRect</key>
			<string>{{60,65},{52,46}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_48_01_extra_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{10.5,1.5}</string>
			<key>spriteSize</key>
			<string>{32,44}</string>
			<key>spriteSourceSize</key>
			<string>{61,60}</string>
			<key>textureRect</key>
			<string>{{64,2},{32,44}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_48_01_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.8,2.35}</string>
			<key>spriteSize</key>
			<string>{61,60}</string>
			<key>spriteSourceSize</key>
			<string>{61,60}</string>
			<key>textureRect</key>
			<string>{{2,2},{61,60}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_48_02_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1,-1}</string>
			<key>spriteSize</key>
			<string>{21,29}</string>
			<key>spriteSourceSize</key>
			<string>{26,33}</string>
			<key>textureRect</key>
			<string>{{110,2},{21,29}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_48_02_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1,-1}</string>
			<key>spriteSize</key>
			<string>{18,26}</string>
			<key>spriteSourceSize</key>
			<string>{26,33}</string>
			<key>textureRect</key>
			<string>{{108,89},{18,26}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_48_02_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1,-1}</string>
			<key>spriteSize</key>
			<string>{26,33}</string>
			<key>spriteSourceSize</key>
			<string>{26,33}</string>
			<key>textureRect</key>
			<string>{{64,36},{26,33}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_48_03_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{9,25}</string>
			<key>spriteSourceSize</key>
			<string>{13,29}</string>
			<key>textureRect</key>
			<string>{{127,59},{9,25}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_48_03_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{3,3}</string>
			<key>spriteSourceSize</key>
			<string>{13,29}</string>
			<key>textureRect</key>
			<string>{{99,59},{3,3}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_48_03_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{13,29}</string>
			<key>spriteSourceSize</key>
			<string>{13,29}</string>
			<key>textureRect</key>
			<string>{{133,2},{13,29}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_48_04_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{28,17}</string>
			<key>spriteSourceSize</key>
			<string>{32,21}</string>
			<key>textureRect</key>
			<string>{{108,59},{28,17}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_48_04_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{5.5,-3.5}</string>
			<key>spriteSize</key>
			<string>{14,7}</string>
			<key>spriteSourceSize</key>
			<string>{32,21}</string>
			<key>textureRect</key>
			<string>{{108,117},{14,7}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_48_04_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{32,21}</string>
			<key>spriteSourceSize</key>
			<string>{32,21}</string>
			<key>textureRect</key>
			<string>{{99,36},{32,21}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/robot_48-hd.png</string>
		<key>size</key>
		<string>{256,128}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/robot_48-hd.png</string>
	</dict>
</dict>
</plist>
